/bee.sh
/bee-cache.sh
/bee-check.sh
/bee-init.sh
/bee-install.sh
/bee-list.sh
/bee-query.sh
/bee-remove.sh
/bee-download.sh
/bee-update.sh
/beecut
/beeuniq
/beesep
/beesh.sh
/beesort
/beeversion
/beegetopt
/beeflock
/beelib.config.sh
/bee.1
/bee-check.1
/bee-init.1
/bee-install.1
/bee-list.1
/bee-query.1
/bee-remove.1
/beefind.sh
/bee-cache-inventory
/bee-cache-update.sh
/compat-filesfile2contentfile.sh
/compat-fixmetadir.sh
/content2filelist.sh
/filelist2content.sh
/buildtypes/*.sh
/manpages/*.1
/.beerc
*.tar.gz
*.o
*.tar.bz2
*~
